<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/assets/images/Logo.svg" />
    <link rel="stylesheet" href="/static/assets/styles/admin_dashboard.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Admin Dashboard - UncoverPC</title>
  </head>

  <body class="color_theme" id="text_container">
    <div id="navbar">
      <button id="logout-button" onclick="goTo('/index')"> Log Out</button>
    </div>
    <div id="main">
        <div id="titles">
            <h1 class="logo" id="main_logo">UncoverPC</h1>
            <h2  class="logo" id="admin_logo">Admin Dashboard</h2>
        </div>

        <div class="mainpage">
            <h1 class="logo">Statistics</h1>

            <div id="row1">
              <div class="box" id="visits-box">
                <h3 class="graph-label">Visits </h3>
                <div id="visits-graphbox">
                  <canvas class="stats-graph" id="visits-graph"></canvas>
                </div>
              </div>

              <div class="box" id="quiztype-box">
                  <h3 class="graph-label">Quizzes Taken by Type </h3>
                  <div id="quiztype-graphbox">
                    <canvas class="stats-graph" id="quiztype-graph"></canvas>
                  </div>
              </div>

              <div class="box" id="productsales-box">
                <h3 class="graph-label">Product Sales </h3>
                <div id="productsales-graphbox">
                  <canvas class="stats-graph" id="productsales-graph"></canvas>
                </div>
              </div>

            </div>

            <div id="row2">
              <div class="box row2box" id="socialmedia-box">
                <h3 class="graph-label">Social Media Visits </h3>
                <div class="row2graphbox" id="socialmedia-graphbox">
                  <canvas class="stats-graph" id="socialmedia-graph"></canvas>
                </div>
              </div>

              <div class="box row2box" id="rating-box">
                <h3 class="graph-label">Customer Ratings </h3>
                <div class="row2graphbox" id="rating-graphbox">
                  <canvas class="stats-graph" id="rating-graph"></canvas>
                </div>
              </div>

              <div class="box row2box" id="quizvsbuy-box">
                <h3 class="graph-label"># of Quizzes Taken vs Product Purchases</h3>
                <div class="row2graphbox" id="quizvsbuy-graphbox">
                  <canvas class="stats-graph" id="quizvsbuy-graph"></canvas>
                </div>
              </div>
            </div>
            <button onClick="goTo('create_quiz1.html')" class="edit_button">Edit Quizzes</button>
        </div>

      <div class="mainpage">
        <h1 class="logo">Quizzes</h1>
        <button class="quizholder" id="laptop-thumbnail" onclick="goTo('/quiz/laptop/')">
          <h2 class="quizlabel"> Laptop</h2>
        </button>
        <button class="quizholder" id="pc-thumbnail" onclick="goTo('/quiz/pc/')">
          <h2 class="quizlabel"> PC</h2>
        </button>
        <button class="quizholder" id="keyboard-thumbnail" onclick="goTo('/quiz/keyboard/')">
          <h2 class="quizlabel"> Keyboard</h2>
        </button>
        <button class="quizholder" id="mouse-thumbnail" onclick="goTo('/quiz/mouse/')">
          <h2 class="quizlabel"> Mouse</h2>
        </button>
        <button class="quizholder" id="tablet-thumbnail" onclick="goTo('/quiz/tablet/')">
          <h2 class="quizlabel"> Tablet</h2>
        </button>
        <button class="quizholder" id="headphone-thumbnail" onclick="goTo('/quiz/headphones/')">
          <h2 class="quizlabel"> Headphones</h2>
        </button>
        <button onClick="goTo('create_quiz1.html')" class="edit_button">New Quiz</button>
      </div>

    </div>
  </body>

  <script>

    function loadInfo(type){
      var body = document.getElementById("input_body");
      body.innerHTML = "";
      var s = document.getElementById("main_selector");
      var value = s.value;
    }

    function goTo(link) {
      if (confirm("Are you sure you want to leave this page?")) {
        $.ajax({
          url: link,
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          success: function (response) {
            alert(response);
          },
          error: function (e) {
            alert("Error!");
          },
        });
      }
    }

    const visitsChart = document.getElementById('visits-graph').getContext("2d");
    var visitsGraph = new Chart(visitsChart, {
        type: 'line',
        data: {
        labels: ['10/14', '10/15', '10/16','10/17','10/18'], //x-axis
        datasets: [{
            label: '# of Visits',
            lineTension: 0,
            data: [12, 19, 3, 5, 2], //y-axis
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        maintainAspectRatio :false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
    
    const quizTypeChart = document.getElementById('quiztype-graph').getContext("2d");
    var quizTypeGraph = new Chart(quizTypeChart, {
        type: 'bar',
        data: {
        labels: ['Laptop', 'PC', 'Keyboard','Mouse'],
        datasets: [{
            label: '# of Quizzes Taken',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });

    const productSaleChart = document.getElementById('productsales-graph').getContext("2d");

    var produtSalesGraph = new Chart(productSaleChart, {
      type: 'bar',
        data: {
        labels: ['Laptop', 'PC', 'Keyboard','Mouse'],
        datasets: [{
            label: 'Sales ($)',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
        },
        options: {
          maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const socialVisitsChart = document.getElementById("socialmedia-graph")
    var socialMediaGraph = new Chart(socialVisitsChart, {
      type: 'pie',
        data: {
        labels: ['Instagram', 'YouTube', 'TikTok'],
        datasets: [{
            data: [12, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
            ],
            borderColor: 
            'rgba(255,255,255,1)',
            borderWidth: 1
        }]
        },
        options: {
          maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ratingsChart = document.getElementById("rating-graph");
    var ratingsGraph = new Chart(ratingsChart, {
      type: 'bar',
        data: {
        labels: [1,2,3,4,5],
        datasets: [{
            label: '# of Customers',
            data: [12, 19, 3, 5, 10],
            backgroundColor: 
            'rgba(20, 50, 200, 0.5)',
            borderColor: 
            'rgba(20, 50, 200, 1)',
            borderWidth: 1
        }]
        },
        options: {
          maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const takenVsBuyChart = document.getElementById("quizvsbuy-graph")
    var takenVsBuyGraph = new Chart(takenVsBuyChart, {
      type: 'pie',
        data: {
        labels: ['Purchase', 'No Purchase'],
        datasets: [{
            data: [12, 19],
            backgroundColor: [
                'rgba(54, 162, 50, 0.7)',
                'rgba(255, 70, 70, 0.7)',
            ],
            borderColor: 
            'rgba(255,255,255,1)',
            borderWidth: 1
        }]
        },
        options: {
          maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  </script>

</html>
