body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: rgb(44, 46, 59);
}

h3 {
  line-height: 1.3;
  font-size: 24px;
}

body,
html {
  height: 100%;
  line-height: 1.2;
  scroll-behavior: smooth;
}


.color_theme {
  background-color: rgb(255, 255, 255);
  color: black;
}
.select-placeholder {
  color: grey;
}


* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: white;
  top:0;
  position:fixed;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 5px grey;
  z-index: 100;
  opacity: 1;
}
.navigator {
  color: rgb(163, 193, 201);
  margin: auto 15px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.navigator:hover {
  color: rgb(136, 187, 201);
}
#nav-holder {
  margin-left: 60%;
  flex-direction: row;
  display: flex;
}

#login {
  width: 80px;
  height: 35px;
  margin: auto 15px;
  border: 0;
  color: aliceblue;
  background-color: rgb(150, 187, 202);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
}

#login:hover {
  background-color: rgb(112, 145, 161);
}

.hidden {
  opacity: 0;
  display: none;
}
.faded {
  opacity: 0.5 !important;
}
.visible {
  opacity: 100%;
}

#early-access {
  position:fixed;
  left: 35%;
  top: 40%;
  z-index: 1;
  background-color: rgb(207, 241, 248);
  width: 30%;
  height: 32%;
  border-radius: 30px;
}

#ea-form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 90%;
  height: 30px;
  background: transparent;
  border-radius: 1px solid grey;
  text-align: left;
  margin: 5px auto;
  border-radius: 5px;
}

.form-submit {
  width: 80%;
  height: 30px;
  margin: 10px auto;
  border: 0px;
  border-radius: 20px;
  background-color: rgb(112, 145, 161);
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.form-submit:hover {
  background-color: rgb(92, 118, 131);
}

.close-button {
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 12px;
  background-color: transparent;
}

.close-button:hover {
  color: rgb(228, 72, 72);
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#main {
  animation: fadeIn 1s 1 forwards;
}

#landing {
    color: rgb(44, 46, 59);
    display: flex;
    flex-direction: row;
    height: 50em;
}
.text1 {
  width: 50%;
  font-size: 24px;
  padding-top: 1rem;
  text-align: left;
  font-weight: bold;
}
.text2 {
  font-size: 22px;
  padding-top: 0.5rem;
  text-align: left;
}

#purpose {
  width: 100%;
  margin-top: 10rem;
  text-align: center;
  background-color: aliceblue;
}
#contact-us {
  padding-top: 5%;
  background-color: aliceblue;
}
#purpose-header {
  color: rgb(14, 10, 48);
  font-weight: 700;
  text-align: center;
}
.main-text {
  text-align: left;
  margin-left: 10rem;
  margin-top: 21em;
}

.home-text {
    font-size: 64px;
    text-align: left;
    font-weight: 700;
}

.subtitle-text {
  font-size: 56px;
  text-align: left;
}

#early-btn {
  font-size: 20px;
  font-weight: 900;
  font-family: "Raleway";
  color: white;
  background-color: rgb(2,0,36);
  background-image: linear-gradient(90deg, rgb(135, 130, 238) 0%, rgb(124, 214, 128) 100%);
  width: 250px;
  margin-top: 30px;
  height: 60px;
  border: 0px;
  border-radius: 40px;
  transition: 0.3s;
}
#early-btn:hover {
  opacity: 80%;
  transform: scale(110%);
}

#purpose-header {
  padding-top: 40px;
}

#mission {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#mission-explained {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.visible {
  animation: fadeIn 1s 1 forwards;
}


.mission-text {
  font-size: 30px;
}

.mission-div {
  display: flex;
  flex-direction: column;
  width: 30em;
  padding: 3rem;
  margin: 2rem auto;
}

.icon-thumbnail {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}

.counter {
  font-size: 54px;
  color: rgb(135, 130, 238);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

