<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
    <head>
        <meta charset="ISO-8859-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - UncoverPC</title>
        <link rel="stylesheet" th:href="@{/assets/dist/styles.css}" />
    </head>

    <body>
        <div class="w-screen h-screen bg-slate-900">
            <div
                id="login-wrapper"
                class="absolute overflow-x-hidden top-1/2 left-1/2 p-5 my-0 mx-auto w-full xs:w-9/12 h-full xs:h-5/6 xs:rounded-lg bg-white shadow-md"
            >
                <div
                    id="logo-wrapper"
                    class="w-full flex justify-end lg:justify-start"
                >
                    <div class="flex items-center gap-x-3">
                        <img
                            src="/assets/images/Logo.svg"
                            alt="UncoverPC Logo"
                            class="w-7 sm:w-12 h-7 sm:h-12"
                        />
                        <span
                            class="hidden xs:block font-semibold text-md tracking-wide"
                            >UncoverPC</span
                        >
                    </div>
                </div>
                <div
                    id="login-container"
                    class="flex flex-col absolute top-1/2 left-1/2 w-full h-full max-w-3xl px-6 xs:px-12 sm:px-24 md:px-32 lg:px-44 py-6 sm:py-12"
                >
                    <h1 class="text-4xl font-semibold mb-4">Sign up</h1>
                    <h2 class="mb-4 text-gray-500">
                        Have an account?
                        <a
                            href="/login"
                            class="font-medium underline decoration-solid"
                        >
                            Login
                        </a>
                    </h2>
                    <form
                        th:action="@{/register}" method="post" th:object="${User}"
                        class="flex flex-col items-start"
                    >
                        <div class="field-mb-6">
                            <input
                                type="email"
                                id="email"
                                name="email"
                                placeholder="Email address"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <div class="field-mb-6">
                            <input
                                type="username"
                                id="username"
                                name="username"
                                placeholder="Username"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <div class="field-mb-6">
                            <input
                                type="firstName"
                                id="firstName"
                                name="firstName"
                                placeholder="First Name"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <div class="field-mb-6">
                            <input
                                type="lastName"
                                id="lastName"
                                name="lastName"
                                placeholder="Last Name"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <p class="text-red-500 text-sm font-thin" style="display: none;" id="passwordStrengthError">Password is not strong enough! It must be at least 8 characters, contain one upper and lowercase letter, a number, and a special character.</p>
                        <div class="field-mb-6">
                            <input
                                type="password"
                                id="password"
                                name="password"
                                placeholder="Password"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <p class="text-red-500 text-sm font-thin" style="display: none;" id="passwordMatchError">Passwords do not match!</p>
                        <div class="field-mb-6">
                            <input
                                type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="Confirm password"
                                class="focus:outline-none mb-6 px-1 py-2.5 md:py-3 w-full text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-700"
                            />
                            <div class="line"></div>
                        </div>
                        <input
                            class="cursor-pointer mb-6 w-1/2 bg-slate-800 hover:bg-slate-900 text-sm md:text-base text-white font-semibold p-3 rounded-md inline-flex justify-center"
                            type="submit"
                            id="submitButton"
                            value="Create account"
                        />
                    </form>
                    <h1 style="color:rgb(200, 5, 5); font-size: 20px; margin-top: 10px;"th:text="${message}"></h1>
                </div>
            </div>
        </div>
    </body>
    <script>
        var confirmPassword = document.getElementById("confirmPassword");
        var password = document.getElementById("password");
        var submitButton = document.getElementById("submitButton");
        var passwordMatchError = document.getElementById("passwordMatchError");
        var passwordStrengthError = document.getElementById("passwordStrengthError");

        // min 8 chars, need one uppercase, one lowercase, one number, one special character
        const passwordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/

        // check if passwords match
        confirmPassword.onblur = () => {
            if (confirmPassword.value !== password.value){
                passwordMatchError.style.display = "block";
                submitButton.disabled = true;
            }else{
                passwordMatchError.style.display = "none";
                submitButton.disabled = false;
            }
        }

        password.onblur = () => {
            if (password.value.length !== 0 && !password.value.match(passwordRegex)){
                passwordStrengthError.style.display = "block";
                submitButton.disabled = true;
            } else {
                passwordStrengthError.style.display = "none";
                
                if (confirmPassword.value !== password.value && confirmPassword.value.length !== 0){
                    passwordMatchError.style.display = "block";
                    submitButton.disabled = true;
                }else{
                    passwordMatchError.style.display = "none";
                    submitButton.disabled = false;
                }
            }
        }
    </script>
</html>
