<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" th:href="@{/assets/images/Logo.svg}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" th:href="@{/assets/styles/quiz.css}"/>
    <link rel="stylesheet" href="/src/main/resources/static/assets/styles/quiz.css" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Quiz - UncoverPC</title>

  </head>

  <body>
    <div id="main">
      <div id="wrapper">
        <img th:src="@{/assets/images/Logo.svg}" class="logo-small"/>
      </div>
      <div id="holder">
        <div class="visible" id="homepage">


          <h1 class="header">Ready to find the perfect 
            <span class="header" id="quiz-type" th:text="${quizTitle}"></span>?</h1>
          <button id="start-button" onclick="startQuiz('homepage')">Get Started!</button>
        </div>
      </div>
    </div>
  </body>
  
  <script th:inline="javascript">
    let currentQuestion = 0;

    let questions = [{ }];

    let questionsTest = [];

    let productProperties = [];
    

    questions = /*[[${questions}]]*/ 'questions';

    console.log(questions);
    let userAnswers = new Array(questions.length -1).fill("");
    let answeredQuestions = new Array(questions.length);
    answeredQuestions.fill(false);
    
    function select(id) {
      let btn = document.getElementById(id);


      if(btn.classList.contains("selected")) {
        btn.classList.remove("selected");
        answeredQuestions[currentQuestion] =false;

      } else if(!answeredQuestions[currentQuestion]) {
        btn.classList += " selected";
        answeredQuestions[currentQuestion]=true;
      }
    }

    let QuizResponse = {
        questions: questionsTest,
        answers: userAnswers,
      }

    function startQuiz(target) {
      for(let i=0; i<questions.length; i++) {
        questionsTest.push(questions[i].title);
      }

      fadeOut(target);
      nextQuestion(true);
    }

    function fadeOut(target) {
      let element = document.getElementById(target);
      element.className = "hidden";
    }
    
    function saveQuestion() {
      if(currentQuestion == 0) {
        userAnswers[currentQuestion]= document.getElementById("myRange").value;
        
      } else {
        let selected = document.querySelector(".selected");
        userAnswers[currentQuestion]= selected.innerHTML;
      }
    }

    function submitQuiz() {
      saveQuestion();
      fadeOut("question"+currentQuestion);
      let home = document.getElementById("holder");
      setTimeout(() => {home.innerHTML = `<div class="lds-dual-ring"></div>`;
                        submitToBack()},500);
    }

    function nextQuestion(start) {
      console.log(userAnswers);
      if(!start) {
        saveQuestion(currentQuestion);
        currentQuestion++;
      }
      let questionSelector = currentQuestion;
      let qid = "question"+(questionSelector-1);

      if(!start) {
        fadeOut(qid);
      }

      let home = document.getElementById("holder");
      let id = 'answers'+currentQuestion;
      if(currentQuestion+1 == questions.length) {
        setTimeout(() => {home.innerHTML = 
        `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> ${questions[questionSelector].title} </h1>
            <div class='answers' id=${id}> </div>
            <div class='btn-holder'>
              <button class="next" onClick="prevQuestion()"> Back </button>
              <button class="next" onClick="submitQuiz()"> Submit </button>
            </div>
          </div>`;       
          addAnswers(id);
        }, 500);
      }
      else if(currentQuestion==0){
        setTimeout(() => {home.innerHTML = 
        `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> What's your budget? </h1>
            <div id="slider">
              <input type="range" min="0" max="5000" value="0" step="10" class="slider" id="myRange" oninput="outValue.value='$'+this.value">
              <output id="outValue" name="amount" for="rangeInput">$0</output> 
            </div> 
            <div class='btn-holder'>
              <button class="next" onClick="nextQuestion(false)"> Next </button>
            </div>
          </div>`;       
        }, 500);
      }
      else {
        setTimeout(() => {home.innerHTML = 
        `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> ${questions[questionSelector].title} </h1>
            <div class='answers' id=${id}> </div>
            <div class='btn-holder'>
              <button class="next" onClick="prevQuestion()"> Back </button>
              <button class="next" onClick="nextQuestion(false)"> Next </button>
            </div>
          </div>`;       
          addAnswers(id);
        }, 500);
      }
    }

    function prevQuestion() {
      fadeOut("question"+currentQuestion);
      answeredQuestions[currentQuestion] = false;
      currentQuestion--;
      answeredQuestions[currentQuestion] = false;

      let questionSelector = currentQuestion;
      let home = document.getElementById("holder");
      let id = 'answers'+currentQuestion;

      if(currentQuestion+1 == questions.length) {
        setTimeout(() => {home.innerHTML = 
        `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> ${questions[questionSelector].title} </h1>
            <div class='answers' id=${id}> </div>
            <div class='btn-holder'>
              <button class="next" onClick="prevQuestion()"> Back </button>
              <button class="next" onClick="submitQuiz()"> Submit </button>
            </div>
          </div>`;       
        addAnswers(id);
        }, 500);
      }
      else if(currentQuestion==0){
        setTimeout(() => {home.innerHTML = 
          `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> What's your budget? </h1>
            <div id="slider">
              <input type="range" min="0" max="5000" value="0" step="10" class="slider" id="myRange" oninput="outValue.value='$'+this.value">
              <output id="outValue" name="amount" for="rangeInput">$0</output> 
            </div> 
            <div class='btn-holder'>
              <button class="next" onClick="nextQuestion(false)"> Next </button>
            </div>
          </div>`;       
        addAnswers(id);
        }, 500);
      }
      else {
        setTimeout(() => {home.innerHTML = 
        `<div class='question-holder visible-q' id='question${questionSelector}'>
            <h1 class='question'> ${questions[questionSelector].title} </h1>
            <div class='answers' id=${id}> </div>
            <div class='btn-holder'>
              <button class="next" onClick="prevQuestion()"> Back </button>
              <button class="next" onClick="nextQuestion(false)"> Next </button>
            </div>
          </div>`;       
        addAnswers(id);
        }, 500);
      }
    }

    function addAnswers(id) {
      let element = document.getElementById(id);
      for(let i=0; i<questions[currentQuestion].answers.length; i++) {
        element.innerHTML += `<button class="answer-button" id="answer${currentQuestion}${i}" onClick='select("answer${currentQuestion}${i}")'">${questions[currentQuestion].answers[i]}</button>`;
      }   
    }

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    
    function submitToBack() {
      QuizResponse = {
        questions: questionsTest,
        answers: userAnswers,
      }

      console.log(JSON.stringify(QuizResponse))
      console.log(token)
      $.ajaxSetup({
          headers:{"X-XSRF-TOKEN": token}
      })
      $.ajax({
          url: "/post/quizEnd",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          data: JSON.stringify(QuizResponse),
          success: function (response) {
            console.log(response);
            loadRecommendations(response);
          },
          error: function (e) {
            alert("Error!");
          },
        });
    }

    function loadRecommendations(products) {
      console.log(products);

      for(let i=0; i<products.length; i++) {
        productProperties.push(Object.values(products[i].QuizResponses));
      }
 
      let home = document.getElementById("holder");
      home.innerHTML = "";
      home.innerHTML += `<div id="recHolder" class="recHolder"></div>`;
      let holder = document.getElementById("recHolder");
      for(let k=0; k<3; k++) {
        holder.innerHTML +=
        `<div class="productHolder">
          <div class="rankingNum"> <h1 class="rankingNum">#${k+1}</h1></div>
          <a href= ${products[k].link} class="productName">${products[k].name}</a>
          <img src=${products[k].img} class="productImg"/>
          <h1 class="productPrice">${products[k].price}</h1>
          <div id="properties${k}"class="productProperties">
            <h1 class="propTitle propText" style="font-size: 22px; text-align: center;"> Properties</h1>
          </div>
         </div>`
      
      let propertyHolder = document.getElementById("properties"+k);
      for(let j=1; j<userAnswers.length; j++) {
        propertyHolder.innerHTML +=
        `<div class="propertyHolder" id="property${k+"_"+j}"> 
            <h1 class="propText">${questions[j].identifer+": "+products[k].QuizResponses[questions[j].title]}</h1>
         </div>`;

         let currentProperty = document.getElementById("property"+k+"_"+j);
         if(products[k].QuizResponses[questions[j].title] == userAnswers[j]) {
          currentProperty.innerHTML += `<h1 class="match" style="color:green">✓</h1>`
         } else {
          currentProperty.innerHTML += `<h1 class="match" style="color:red">X</h1>`
         }
        }
      }
    }
  </script>
</html>