<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" th:href="@{/assets/images/Logo.svg}" />
    <link rel="stylesheet" th:href="@{/assets/styles/homepage.css}" />
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    
    <link th:href='@{https://fonts.googleapis.com/css?family=Raleway}' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Home - UncoverPC</title>
  </head>

  <body class="color_theme" id="text_container">
    <div id="navbar">
      <img src="@{/assets/images/Logo.svg}" style="width: 2.5%; height:1%; margin-left: 10%; margin-top: 5px; margin-bottom: 5px;">
      <div id="nav-holder">
        <a href="#landing" class="navigator">Home</a>
        <a href="#purpose" class="navigator">What We Do</a>
        <a href="#contact" class="navigator">Contact Us</a>
        <button id="login">Login</button>
      </div>      
    </div>

    <div class="hidden" id="early-access">
      <button style="margin-left: 92%; margin-top: 3%;" class="close-button" onclick="closeForm()"> X</button>
        <h2 style="margin-left: 5%;">Get Updates</h2>
        <h4 style="margin-left: 5%;">Thank you for your interest and support!</h2>

      <form id="ea-form" th:action="@{/earlyaccess}" method="post" th:object="${earlyuser}">
        <input type="hidden" name="${_csrf.headerName}" value="${_csrf.token}"/>
        <input class="form-input" name="name" id="name" type="name" placeholder="Enter Name" />
        <input class="form-input" name="email" id="email" type="email" placeholder=" Enter E-mail" />
        <select class="form-input" name="referral" id="referral" type="referral" placeholder=" Referral"> 
          <option value="" disabled selected class="select-placeholder">How did you hear about us?</option>
          <option value="friends/family">Friends/Family </option>
          <option value="instagram">Instagram </option>
          <option value="tikok">Tiktok </option>
          <option value="other">Other</option>
        </select>
        <input style="margin-bottom: 5px;" class="form-submit" type="submit" value="Submit"/>
        <h3 th:text="${message}"></h3>
      </form>
    </div>

    <div id="main" class="visible">
      <div class="section" id="landing">
        <div class="main-text">
          <h1 class="home-text">Shopping for electronics</h1>
          <h1 class="home-text" style="color: rgb(31, 197, 31);">made easy</h1>
          <h2 class="text1">Harnessing the power of Artificial Intelligence, UncoverPC seamlessly identifies the perfect electronic product without you conducting any research.</h4>
          <button id="early-btn" onclick="openForm()">Request Early Access</button>
        </div>
      </div>



      <div class="section" id="purpose">
        <h2 class="subtitle-text" style="text-align: center; margin-top: 3rem;">We're on a mission to reduce returns.</h2>

        <div id="mission" class="visible">
          <div id="counter-holder">
          <h1 class="mission-text">In the U.S.,</h1>   
            <h1 class="counter" id="percentage_return" data-target="10.6" counted="false"
            style="display:inline;">0</h1>
          <h1 class="mission-text" id="percentage_return" style="display:inline;">% of purchases are returned.</h1>
          <br>
          <h1 class="mission-text" style="display:inline;">That's $</h1>
            <h1 class="mission-text counter" id="percentage_return" data-target="428" counted="false"
                style="display: inline;">0</h1>
            <h1 class="mission-text" id="percentage_return" style="display:inline;">&nbsp;billion worth of merchandise.</h1>
          </div>
          
            <div class="main-text" id="mission-explained">
              <div class="mission-div">
                <img src="/templates/thumbnails/dT487ankc.jpg" class="icon-thumbnail" />
                <h4 class="text2" style="margin-top: 10px; text-align: center;">
                  Through our countless quizzes, we help provide the best professional recommendation for tech products based on your personal needs.</h4>
              </div>

              <div class="mission-div">
                <img src="/templates/thumbnails/dT487ankc.jpg" class="icon-thumbnail" />
                <h4 class="text2" style="margin-top: 10px; text-align: center;">
                  Our AI looks at analyzes reviews and matches the best product based off your needs</h4>
              </div>

              <div class="mission-div">
                <img src="/templates/thumbnails/dT487ankc.jpg" class="icon-thumbnail" />
                <h4 class="text2" style="margin-top: 10px; text-align: center;">
                  Our AI looks at analyzes reviews and matches the best product based off your needs</h4>
              </div>
            </div>
        </div>
      </div>

      <div class="section" id="contact-us">
        <h1 class="subtitle-text" id='purpose-header'>Contact</h1>
      </div>
    </div>

  </body>

  <script>
    //Number counting animationwindo
    window.addEventListener("scroll", detect_visibility);

function detect_visibility() {
    // Selector
    const counters = document.querySelectorAll('.counter');
    // Main function
    for (let n of counters) {
        //Check if element has already been counted\
        if (n.getAttribute("counted") == "false") {
            //Check if element is visible
            var element = n;
            var top_of_element = element.offsetTop;
            var bottom_of_element = element.offsetTop + element.offsetHeight + element.style.marginTop;
            var bottom_of_screen = window.scrollY + window.innerHeight;
            var top_of_screen = window.scrollY;
            //If visisble, do animation
            if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)) {
                //Set counted to true when count starts
                n.setAttribute("counted", "true");
                const updateCount = () => {
                    const target = + n.getAttribute('data-target');
                    const count = + n.innerText;
                    const speed = 5000; // change animation speed here
                    const inc = target / speed;
                    if (count < target) {
                        color = 255-(target-count);
                        if(color<150){
                            color=150;
                        }
                        n.style.color = "rgb("+ color +", 50,80)";
                        n.innerText = Math.ceil(count + 1);
                        setTimeout(updateCount, 2000/(target));
                    } else {
                        n.innerText = target;
                    }
                }
                updateCount();
            }
        }
    }
}

function makeVisible(id) {
  let element = document.getElementById(id);
  element.className = "visible";
}
function makeHalfVisible(id) {
  let element = document.getElementById(id);
  element.className = "faded";
}
function makeHidden(id) {
  let element = document.getElementById(id);
  element.className = "hidden";
}


function openForm() {
  makeVisible('early-access');
  makeHalfVisible('main');
}

function closeForm(){
  makeHidden('early-access');
  makeVisible('main');
}
  </script>
</html>