<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1" />
        <title>Login - UncoverPC</title>
        <link rel="stylesheet" href="../static/assets/dist/styles.css" />
    </head>

    <body>
        <div class="w-screen h-screen bg-slate-900">
            <div
                id="login-wrapper"
                class="absolute overflow-hidden top-1/2 left-1/2 p-8 my-0 mx-auto w-9/12 h-5/6 rounded-lg bg-white shadow-md"
            >
                <div class="flex items-center gap-x-2">
                    <div class="w-1.5 h-1.5 rounded-full bg-black"></div>
                    <span class="font-semibold text-md tracking-wide"
                        >UncoverPC</span
                    >
                </div>
                <div
                    id="login-container"
                    class="flex flex-col items-stretch absolute top-1/2 left-1/2 w-full max-w-3xl px-44"
                >
                    <h1 class="text-4xl font-semibold mb-4">Sign up</h1>
                    <h2 class="mb-8 text-gray-500">
                        Have an account?
                        <a
                            href="#"
                            class="font-medium underline decoration-solid"
                        >
                            Login
                        </a>
                    </h2>
                    <form
                        action="/action_page.php"
                        class="flex flex-col items-start"
                    >
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Email address"
                            class="border-2 mb-6 border-black rounded-md p-3 w-full placeholder:text-gray-700"
                        />
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            class="border-2 mb-6 border-black rounded-md p-3 w-full placeholder:text-gray-700"
                        />
                        <input
                            type="password"
                            id="confirm-password"
                            name="confirm-password"
                            placeholder="Confirm password"
                            class="border-2 mb-8 border-black rounded-md p-3 w-full placeholder:text-gray-700"
                        />
                        <input
                            class="cursor-pointer w-1/2 bg-slate-800 hover:bg-slate-900 text-white font-semibold p-3 rounded-md inline-flex justify-center"
                            type="submit"
                            value="Create account"
                        />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
