<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Verification Failed - UncoverPC</title>
        <link rel="icon" href="/assets/images/Logo.svg" />
        <link rel="stylesheet" th:href="@{/assets/dist/styles.css}" />
    </head>
    <body class="bg-black h-screen overflow-y-hidden fade-in-animate">
        <div class="text-center text-black bg-white my-12 mx-16 h-5/6 rounded-lg p-12 flex justify-center items-center gap-x-4">
            <img src="/assets/images/Logo.svg" alt="UncoverPC Logo"
							class="xs:w-8 md:w-16 xs:h-8 md:h-16" />
            <p class="xs:text-lg md:text-xl">
                Sorry, we could not verify account. It may be already verified,
                or the verification code is incorrect.
            </p>
        </div>
    </body>
</html>
